<div class='container' id='main'>
  <div class='row'>
    <h1>Listing tracks</h1>

    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="5"></th>
        </tr>
      </thead>

      <tbody>
        <% @tracks.each do |track| %>
          <tr>
            <td><%= link_to image_tag(track.avatar.url(:thumb)), artist_track_path(track.artist_id, track.id) %></td>
            <td><%= link_to track.track_title, artist_track_path(track.artist_id, track.id) %></td>
            <td><%= track.description %></td>
             <td><%= link_to 'Edit', edit_artist_track_path(track.artist_id, track.id), class: "btn btn-warning btn-xs" %></td>
            <td><%= link_to 'Delete', artist_track_path(track.artist_id, track.id), class: "btn btn-danger btn-xs" ,
                                method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 

