<p id="notice"><%= notice %></p>

<p>
  <strong>Track title:</strong>
  <%= @track.track_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @track.description %>
</p>

<p>
  <strong>Track type:</strong>
  <%= @track.track_type %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
