<div class="jumbotron artist-cover" style="background-image:url(<%= @artist.cover.url %>)">
  <div class="container">
    <div class="row artist-info">
      <div class='col-lg-2'>
        <%= image_tag @artist.avatar.url(:medium) %>
      </div>      
      <div class='col-lg-10 artist-name'>
        <h1 id="artist-title"><%= @artist.artist_name %></h1>
        <p><%= @artist.country %></p>
      </div>
    </div> 
  </div>
</div> 
<div class='container artist-content'>
  <div class='row'>        
    <div id='aside' class='col-lg-3'>
      A Side
    </div>
    <div id="center" class="col-lg-6">
      <ul class="media-list">
        <% @artist.tracks.each do |track| %>
        <li class="media">
          <div class="pull-left">
            <%= link_to image_tag(track.avatar.url(:thumb)), artist_track_path(track.artist_id, track.id) %>
          </div>     
          <div class="media-body">
            <div><%= audio_tag track.audio.url, controls: true %></div>
            <p><a class="sm2_button" data-action="play" href="<%= track.audio.url %>"></a><%= track.track_title %></p>
            <div id="wave" data-url="<%= track.audio.url %>"></div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div id="right-col" class="col-lg-3">
      B Side
    </div>
  </div> 
</div>

