<div class="jumbotron">
  <div class="container">
    <div class="row artist-info">
      <div class='col-md-2'>
        <%= image_tag @artist.avatar.url(:medium) %>
      </div>      
      <div class='col-md-10 artist-name'>
        <h1 id="artist-title"><%= @artist.artist_name %></h1>
        <p><%= @artist.country %></p>
      </div>
    </div> 
  </div>
</div> 
<div class='container artist-content'>
  <div class='row'>        
    <div id='aside' class='col-md-3'>
      A Side
    </div>
    <div id="center" class="col-md-6">
      <ul class="media-list">
        <% @artist.tracks.each do |track| %>
        <li class="media">
          <%= link_to image_tag(track.avatar.url(:thumb)), artist_track_path(track.artist_id, track.id), class: "pull-left" %>
          <div class="audio-container media-body">
              <h4><%= link_to track.track_title, [@artist, track] %></h4>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div id="right-col" class="col-md-3">
      B Side
    </div>
  </div> 
</div>