<header style="background-image:url(<%= @artist.cover.url %>)">
  
</header>

<!-- Main Artist Container -->

<div class='container'>
  <div class="row info">
    <div class='col-sm-3'>
      <%= image_tag @artist.avatar.url(:medium), class: "thumbnail center-block img-responsive" %>
    </div>
    <div class="col-sm-9">
      <div class="row artist-blank">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row artist-info">
        <div class='col-sm-9'>
          <ul>
            <li><h1><%= @artist.artist_name %></h1></li>
            <li class="location"><h5><em><%= @artist.city %>,&nbsp<%= @artist.country %></em></h5></li>
          </ul>
        </div>
        <div class='col-sm-3'>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 genre"><em>Genre:</em></div>
        <div class="col-sm-6"></div>
      </div>  
    </div>   
  </div> 
                   
  <div id="content" class='row'>        
    <div id='aside' class='col-md-3'>
      <h4>Patron</h4>
    </div>
    <div id="center" class="col-md-6">
      <ul class="media-list">
        <% @artist.tracks.each do |track| %>
        <li class="media">
          <div class="pull-left">
            <%= link_to image_tag(track.avatar.url(:thumb)), artist_track_path(track.artist_id, track.id), class: "thumbnail img-responsive" %>
          </div>   
          <ul class="playlist">
            <li class="media-body">
              <a href="<%= track.audio.url %>"><%= track.track_title %></a>
            </li>
            <div class="track-description">
              <%= track.description %>
            </div>
          </ul>         
        </li>
        <% end %>
      </ul>
    </div>
    <div id="bside" class="col-md-3">
      B Side
    </div>
  </div> 
</div>

