<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @label.avatar.url(:thumb) %>
  <strong>Labelname:</strong>
  <%= @label.label_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @label.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @label.country %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @label.contact_name %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
